<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuga.proposal10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="計測用アプリケーション"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proposal10">
        <activity android:name=".LoginDataActivity"></activity>
        <activity android:name=".RegisterDataActivity" />
        <activity android:name=".RegisterProcessActivity" />
        <activity android:name=".LoginProcessActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>